{% extends 'main/layout.html' %}

{% load static %}

{% block header %}
    {% include 'main/header.html' %}
{% endblock %}

{% block content %}

<section class="NavReviews">
    <div class="container">
      <div class="NavReviews__wrap">
        <ul class="list-reset NavReviews__list">
          <li class="NavReviews__item">
            <h3 class="NavReviews__title">Таня</h3>
            <p class="NavReviews__desc">
              Дорогие "Десертный рай" С благодарностью из Санкт-Петербурга ❤! Благодаря вашим
              чётким слаженным действиям я смогла поздравить с днём рождения близкого человека!
              Сюрприз удался, торт прекрасен! Спасибо! Успехов! Процветания!
            </p>
          </li>
          <li class="NavReviews__item">
            <h3 class="NavReviews__title">Ольга</h3>
            <p class="NavReviews__desc">
              Спасибо большое всему коллективу кондитерской, за ваш труд. Я заказывала два торта.
              Торт "Бомба" сникерс, имениннице очень понравился. Оформление замечательное, шоколад и
              начинка вкусные Связь с клиентом на высшем уровне, фото перед доставкой, доставка 5+.
              Спасибо!!!! Буду рекомендовать друзьям и знакомым.
            </p>
          </li>
          <li class="NavReviews__item">
            <h3 class="NavReviews__title">Виктория</h3>
            <p class="NavReviews__desc">
              Заказываю торты уже в третий раз. В этот раз на День рождение ребенку. Дочь в
              восторге. Торты всегда очень вкусные, красивые и свежие. Доставили во время. Огромное
              спасибо!
            </p>
          </li>
          <li class="NavReviews__item">
            <h3 class="NavReviews__title">Нина</h3>
            <p class="NavReviews__desc">
              Заказывала торт 4 раз(сникерс) и в очередной раз было всё шикарно Очень рада что нашла
              эту кондитерскую 👍🙂всем знакомым посоветовала и сама конечно буду ещё заказывать
              только здесь 😊спасибо большое)))
            </p>
          </li>
          <li class="NavReviews__item">
            <h3 class="NavReviews__title">Ирина</h3>
            <p class="NavReviews__desc">
              Все очень просто! Заехала в кондитерскую, обсудили за 5 мин торт и к нему капкейки, 4е
              из которых по акции шли в подарок:) Оплатила по ссылке и на следующий день получила
              фото своего тортика на Вотсап, для утверждения. Торт 2кг "Мой диджей" ,начинка
              сникерс. Очень свежий, оригинальный, крем брюле, крем чиз ,бизе и много орешков. Дети
              все доели свои порции,не смотря на плотный обед перед тортиком))) Торт
              стабилен,простоял больше суток в холодильнике, ничего не поплыло, упаковка
              жесткая,легко было перевозить.
            </p>
          </li>
          <li class="NavReviews__item">
            <h3 class="NavReviews__title">Алена</h3>
            <p class="NavReviews__desc">
              Наш третий тортик бенто у "Десертный рай" . Ну как всегда все отлично , свежее вкусное
              , не приторно . Наш любимый наполнитель- манго маракуйя . От души ❤️
            </p>
          </li>
        </ul>
      </div>
    </div>
</section>

<style>
.NavReviews {
  padding: 90px;
}
.NavReviews__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.NavReviews__item {
    padding: 11px 20px;
    background-color: #fdeeca;
}
.NavReviews__title {
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.NavReviews__desc {
    color: #030405;
    opacity: 0.8;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
</style>

{% endblock %}

{% block footer %}
  {% include 'main/footer.html' %}
{% endblock %}