{% extends 'main/layout.html' %}

{% load static %}

{% block header %}
    {% include 'main/header.html' %}
{% endblock %}

{% block content %}
<section class="NavAbout">
    <div class="container">
      <div class="NavAbout__wrap">
        <p class="NavAbout__desc">
          Добро пожаловать в нашу уютную кондитерскую, где каждый десерт — это настоящее
          произведение искусства! Мы с огромным вниманием и любовью создаем уникальные сладости,
          которые радуют глаз и балуют вкусовые рецепторы. Наша кондитерская – это место, где
          встречаются традиционные рецепты и современные тенденции в мире сладостей. Мы используем
          только самые качественные ингредиенты, чтобы каждый наш десерт был наивкуснее и
          безупречнее. У нас вы найдете широкий ассортимент сладких угощений: торты, пирожные,
          кексы, макаронсы, конфеты и многое другое. Наша команда талантливых кондитеров работает
          над каждым десертом с особым вниманием к деталям. Мы не просто делаем сладости, мы создаем
          произведения искусства, которые способны вызвать настоящее восхищение у каждого гостя. Мы
          следим за современными тенденциями в мире кондитерского искусства, постоянно
          совершенствуемся и экспериментируем, чтобы удивлять и радовать наших клиентов. В нашей
          кондитерской царит атмосфера уюта и радушия. Здесь вы можете отдохнуть от повседневных
          забот и насладиться неповторимым вкусом наших десертов. Мы всегда готовы порадовать и
          удивить наших гостей, предлагая им удивительные вкусовые сочетания и необычные декорации.
          Мы также предлагаем услугу индивидуального заказа тортов и других сладостей на заказ. Если
          у вас есть особое событие, такое как свадьба, день рождения, юбилей или корпоративное
          мероприятие, мы с удовольствием поможем вам создать уникальный сладкий стол, который
          запомнится всем гостям. Наши кондитеры могут воплотить в жизнь любую вашу задумку,
          создавая десерты, которые будут не только вкусными, но и красиво оформленными. Мы также
          рады предложить широкий ассортимент десертов для людей с особыми диетическими
          потребностями. У нас вы найдете самые разные сладости, которые подойдут даже самым
          взыскательным гурманам. Мы учитываем все особенности ваших пищевых предпочтений, чтобы
          каждый гость мог насладиться вкусом наших десертов. Посетите нашу кондитерскую и окунитесь
          в мир невероятных вкусов и ароматов. Мы гарантируем, что после посещения нашей
          кондитерской вы будете в восторге от наших удивительных сладостей. Добро пожаловать в мир
          волшебства и вкусов!
        </p>
      </div>
    </div>
</section>

<style>
.NavAbout {
    padding: 90px;
}
.NavAbout__wrap {
    position: relative;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgba(3, 4, 5, 0.1);
    background-color: #fdeeca;
}
.NavAbout__desc {
    margin: 0;
    color: #000;
    font-family: sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
</style>

{% endblock %}

{% block footer %}
    {% include 'main/footer.html' %}
{% endblock %}
