{% extends 'main/layout.html' %}

{% block title %}
    <title>Регистрация</title>
{% endblock %}

{% block header %}
    {% include 'main/header.html' %}
{% endblock %}

{% block content %}

<div class="user_reg">
    <h2 class="user_title">Регистрация</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-light">Отправить</button>
    </form>
</div>

<style>
    .user_reg {
    fill: #e12549;
    background: #e12549;
    border-radius: 30px;
    color: #fff;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin: 90px;
    padding: 30px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    }
    .user_title {
        font-weight: 400;
    }
</style>
{% endblock %}

{% block footer %}
    {% include 'main/footer.html' %}
{% endblock %}